<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="icon" href="../images/icons8-atlassian-16.png" type="image/png">

        <title>Atlassian</title>
    </head>
    <body>
      <header>
          <div class="navigation">
            <a class="navbar-brand" href="../index.html"></a>
            <ul class="navigation-menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="order.html">Order</a></li>
                <li><a href="support.html">Support</a></li>
                <li><a href="contact.html">Affiliates</a></li>
            </ul>
            <a href="authorization.html" class="entry-button">Login</a>
          </div>
        </header>

        <main>
            <h2>Здесь будет реализация раздела заказов</h2>
        </main>

        <footer>
          <div class="footer-elements">
              <a class="footer-brand" href="../index.html"></a>
              <div class="social-links">
                <a class="footer-x" href=""></a>
                <a class="footer-facebook" href=""></a>
                <a class="footer-vk"></a>
              </div>
              <p class="copyright">Copyright © 2010-2025, SIA "Atlassian"</p>
          </div>
        </footer>
        
        <script></script>
    </body>
</html>
